header{
	display: inline-flex;
	justify-content:space-around;
	align-items: center;
	background-color: #a38b67;
	box-shadow: 1px 1px 12px black;
}

	body {
		height: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		background-color: rgb(36, 33, 33);
	}


    h2 {
        display: inline;
    }

	header a {
        text-decoration: none;
    }

	h1 {
		display: flex;
		justify-content: center;
		color: antiquewhite;

	}

	.Presentation-page {
		display: flex;
		flex-direction: column;
		
	}

	a {
		color: antiquewhite;
	}

	p{
		color : antiquewhite;
		margin: 8px;
		font-size: larger;
	}

	.Presentation-page > p{
		margin-top: 40px;
	}

	#debut {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	font-size: 100%;
    	color: rgb(0, 0, 0);
    	margin-left: 30%;
    	margin-right: 30%;
    	margin-top: 40px;
    	margin-bottom: 60px;
    	border: 10px;
    	border-color: black;
    	box-shadow: 1px 1px 12px black;
    	padding: 20px;
		min-width: 81px;
	}

	#debut p {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	
	.btn::after {

		content: '';
	 width: 0;
	 display: block;
	 height: 2px;
	 background: antiquewhite;
	 transition: width 0.3s;
 }

 #matete{
    position: absolute;
    width: 83px;
    height: 83px;
    left: 0px;
    top: 0px;
}

 a:hover::after{
	 width: 100%;
	 transition: width 0.3s;
 }

footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #a38b67;
	box-shadow: 1px 1px 12px black;
}

#tel>img{
	width: 30px;
    height: 30px;
}

#tel>p{
	display: inline;
	bottom: 35px;
	padding-bottom: 10px;
}

#CV>a{
	text-decoration: none;
}

#CV>a>img{
	width: 30px;
    height: 30px;
}

#CV>a>p{
	display: inline;
	bottom: 35px;
	padding-bottom: 10px;
}

.icons {
	display: flex;
	column-gap: 25px;	
}

.icon {
	width: 60px;
	height: 60px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 26px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	transition-property: outline-offset, outline-color, background-color;
	transition-duration: 0.25s;
}

.icon:hover {
	outline-offset: 4px;
}

.icon img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.icon:hover img {
	animation: shake .25s;
}

.icon--instagram:hover {
	background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	outline-color: #a02d76;
}

.icon--github:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
} 

.icon--gitlab:hover {
	background-color: #fff;
	outline-color: #fff;
}

.icon--gitlab img {
	height: 70%;
}

@keyframes shake {
	10%{ transform: rotate(15deg); }
	20%{ transform: rotate(-15deg); }
	30%{ transform: rotate(15deg); }
	40%{ transform: rotate(-15deg); }
}

@media screen and (width < 835px) {
	 #matete{
		 display: none;
	 }
}