header{
    display: inline-flex;
    justify-content:space-around;
    align-items: center;
    background-color: #a38b67;
    box-shadow: 1px 1px 12px black;
    margin-bottom: 80px;
}


body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 33, 33);
    text-align: center;
}

h2 {
    display: inline;
}

.content p{
    visibility: hidden;
    color: antiquewhite;
    font-size: xx-large;
    position: absolute;
}

.content:hover p{
    visibility: visible;   
}

.content {
    display: inline-flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 80px;;
    margin-left: 10px;
    margin-right: 10px;
}

#RetEx > p {
    display: none;
}

img{
    height: 280px;
    width: 550px;
    box-shadow: 1px 1px 12px black;
}


.img:hover {
    opacity: 0.6;
    filter: alpha(opacity=30);
    }


header a {
    text-decoration: none;
    color : antiquewhite;
}

.btn::after {

    content: '';
 width: 0;
 display: block;
 height: 2px;
 background: antiquewhite;
 transition: width 0.3s;
}

a:hover::after{
 width: 100%;
 transition: width 0.3s;
}


@media screen and (width < 1144px){

    .content>p {
        display: none;
    }

    #RetEx>p {
        display: block;
        color:antiquewhite;
    }

    .content {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}